{% extends 'base.html.twig' %}

{% block title %}Hello AfficheurDeCompteController!{% endblock %}

{% block body %}
<style>
    body {background-image: url({{asset('PROJET_CDA/images_background/black.jpg')}}) ; font-size: xx-small ; background-repeat: repeat-y repeat-x ; font-family:'Poppins', sans-serif ; font-style: normal; color: rgb(13, 13, 14);}
</style>

  <div class="container"  style=" position:absolute ; height:5%; ">
        <div class ="row" style="height: 100%;">


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="   height:100%  ; " >
        
                <div class = "row"  style="height: 100%;">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background-color: rgb(8, 8, 8) ; height:100%  ; "  ></div> 
                </div>
            </div>    
               
    
    
    
    
    
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="   height:100%  ; " >
              
        
               <div class = "row"  style="height: 100%;">
               
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" background-color: rgb(199, 252, 7) ; height:100%  ; "  >
                        <a href="#" style="font-size: medium; display: flex; justify-content:center ; "    > ACCUEIL </a>
                    </div> 
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" background-color: rgb(10, 10, 10) ; height:100%  ; "  ></div> 
               </div>
           
    
            </div>

   
        
      
        </div>
    </div>


                        <div class="container"  style=" position:absolute; top:10% ; height:70%; ">
                            <div class="row"  style="height:30%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  ; "  >
                                    <div class="row"  style="height:90%; " >
                                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 "  style="height:90%;  top:10% ; "  >
                                            <div class="row"  style="height:40%; " >
                                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10 "  style="height:80%; top:20% ; "  >
                                                   
                                                            <div class= "col-lg-10 col-md-10 col-sm-10 col-xs-10  col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="height:100% ;font-size: xx-small " >
                                                                <div class="row" style="height:100% ;" >
                                                                    <div   style="height:100%  ; width: 100% " >
                                                                        <nav  style="height:100% ; top:10% ; font-size: xx-small  ;background-color: black;  "  class="row">
                                                                            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style= " background-color: orange ;   font-size: xx-small ; list-style-type: none; top:10% ; height:80% ;" >
                                                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12" class="dropdown"  > <a href="#"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   " data-toggle="dropdown"  >promotions<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                                <ul class="dropdown-menu">
                                                                                <li><a href="#">nouveautés<i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">réductions<i class="fa fa-percent" aria-hidden="true"></i>
                                                                                </a></li>
                                                                               
                                                                                </ul>
                                                                               </li>
                                                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px;   margin: 5px ; background-color:orange ; color: black; left:0%  ;  font-size: 80% ; " data-toggle="dropdown" >blog<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="#">Commentaires<i class="fa fa-comments" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">questionnaire<i class="fa fa-question-circle" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">statistiques<i class="fa fa-bar-chart" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                </ul>
                                                                               </li> </li>
                                                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80% ;  " data-toggle="dropdown" >Catégories<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="#">Hommes<i class="fa fa-male" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">Femmes<i class="fa fa-female" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">Enfants<i class="fa fa-child" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                </ul>
                                                                               </li> </li>
                                                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   class="dropdown"   > <a href="#"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0%  ;  font-size: 80% ; " data-toggle="dropdown" > commandes<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="#">panier<i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">règlement<i class="fa fa-registered" aria-hidden="true"></i>
                                                                                </a></li>
                                                                               
                                                                                </ul>
                                                                               </li> </li>
                                                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80%;   " data-toggle="dropdown" >connexion<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="#">inscription<i class="fa fa-user" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">connexion<i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                <li><a href="#">compte<i class="fa fa-address-book-o" aria-hidden="true"></i>
                                                                                </a></li>
                                                                                </ul>
                                                                               </li> </li>
                                                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"   class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80% ;  " data-toggle="dropdown" >registre<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a href="#">historique d'achats<i class="fa fa-calendar" aria-hidden="true"></i>
                                                                                </a></li>
                                                                               
                                                                                </ul>
                                                                               </li>  </li>
                                                                            </ul>
                                                                        </nav>  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                  
                                                </div>
                                                </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="height:50%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  "  >
                                    <div class="row" style="height:100% ;">
                                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10 "  style="height:90%;  background-image: url(images_background/yellow.jpg) ; top:5% ; "  >
                                     
                                     <div class= "container">
                                         <h1 class= "mt-4"> formulaire de connexion </h1>

                                         <form  action="{{path('securitycontroller.login')}}"  method='post' >
                                             <div class="form-floating mb-3">
                                                 <label for="username">Email address</label>
                                                   <input type="email" class="form-control" id="exampleInputemail" placeholder="name@example.com"  name= "_username"   >
   
                                                                                                     </div>
                                            <div >
                                                 <label for="Password">Password</label>
                                                   <input type="password" class="form-control" id="floatingPassword" placeholder="********" autocomplete="off" name="_password" >
    
                                                                                                       </div>

                                                     <button type= "submit" class="btn btn-primary"> se connecter </button>
                                                                                                               </form>
                                     </div>
                                     
                                    
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <div class="row"  style="height:20%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  background-image: url(images_background/yellow.jpg) ; "  ></div>
                            </div>
                        </div>
    
    
    
    
    
                        <footer  class = "container"   style=" position: absolute ; top:75% ; height:35% ; background-image: url({{asset('images_background/yellow.jpg')}}) ; background-repeat: repeat-y ; background-repeat: repeat-x; "  >

                            <div class="row"  style="height:100%" >
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  style="height:80%   ; " > 
                                     <div class="row" style="height: 80%;">
                                    <div  class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="  font-size: xx-small; "  >
                                       <ul  style="list-style-type: none ;" >
                                        <li><a href="#"  style=" background-color: rgb(13, 13, 14)  ; ">aide<i class="fa fa-yelp" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" style=" background-color: rgb(14, 14, 15)  ;"  >suivre votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" style=" background-color: rgb(12, 12, 14)  ;" >annuler votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i> </a></li>
                                    
                                 
                                      
                                        <li> <a href="#"   style=" background-color: rgb(5, 5, 5)  ;" >condition génerales <i class="fa fa-book" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#"   style=" background-color: rgb(10, 10, 10)  ;" >localisation <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </a></li>
                                       
                                  
                                        <li> <a href="#" style=" background-color: rgb(12, 11, 11)"  >adresse émail <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                       <li><a href="#" style=" background-color: rgb(10, 8, 9)"  >adresse instagram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#" style=" background-color: rgb(10, 10, 10)"  >adresse facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                            <li><a href="#" style=" background-color: rgb(15, 14, 15)"   >numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                            </ul>
                                    </div>
                                    </div>
                                </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="height:90% ; top:10% ;"  >
                                <div class="row"  style="height:90% ; font-size: xx-small;" >
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Bénin  <img src={{asset('PROJET_CDA/images_background/drapeau-benin.jpg')}}  width="20px" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(245, 246, 248)  ; color: black;"  >Burkina-Faso  <img src="images_background/1200px-Flag_of_Burkina_Faso.svg.png"  width="20%" height="20%">  </div>
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(171, 172, 169)  ; color: black;"  >Centrafique  <img src="images_background/drapeau de la centrafrique.jpg"  width="20%" height="20%"></div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(253, 252, 252)  ; color: black;"  >Comores   <img src="images_background/1014360-Drapeau_des_Comores.jpg"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(150, 146, 146)  ; color: black;"  >Congo   <img src="images_background/1200px-Flag_of_the_Democratic_Republic_of_the_Congo.svg.png"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 255, 254)  ; color: black; "  >Cote d'ivoire   <img src="images_background/1200px-Flag_of_Côte_d'Ivoire.svg.png"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black;"  >Gabon    <img src="images_background/1009494-Drapeau_du_Gabon.jpg"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(247, 248, 250)  ; color: black;"  >Guinée    <img src="images_background/drapeau-guinee-conakry.png"  width="20%" height="20%"> </div>
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(175, 175, 173)  ; color: black;"  >Guinée Bissau    <img src="images_background/1009503-Drapeau_de_la_Guinée-Bissau.jpg"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(156, 156, 156)  ; color: black;"  >Guinée équatoriale    <img src="images_background/1009504-Drapeau_de_la_Guinée_équatoriale.jpg"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(248, 238, 238)  ; color: black;"  >Mali     <img src="images_background/1200px-Flag_of_Mali.svg.png"  width="20%" height="20%"></div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 254, 245)  ; color: black; "  >Mauritanie    <img src="images_background/_98966769_f98ea54c-02b5-4383-ab66-34b8d242d3eb.jpg.webp"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Niger       <img src="images_background/2389px-Flag_of_Niger.svg.png"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(246, 248, 252)  ; color: black; "  >Sénégal     <img src="images_background/2560px-Flag_of_Senegal.svg.png"  width="20%" height="20%"> </div>
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(172, 172, 172)  ; color: black;"  >Tchad     <img src="images_background/langfr-225px-Flag_of_Chad.svg.png"  width="20%" height="20%"> </div> 
                            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(218, 212, 213)  ; color: black;"  >Togo    <img src="images_background/1009608-Drapeau_du_Togo.jpg"  width="20%" height="20%"> </div> 
                            </div>
                            <div class="row"  style="height:10%" >
                                </div>
                            </div>
                            
                    
                    
                            
                        </div>
                        </footer>
{% endblock %}
